<div>
  <h2>Exercises</h2>

  <div>
    <h3>Simple component unit test</h3>

    <h4>Exercise</h4>
    <p>
      We have a simple counter component (if you have the app running locally,
      you can interact with it at: http://localhost:3000/counter). Your job is
      to make sure that it starts out with a count of 0 and that when the user
      clicks "Increment" it'll increase the count and when they click
      "Decrement" it'll decrease the count.
    </p>

    <h4>Link to implementation</h4>
    <p>
      <a href="/exercise-01">Exercise 01</a>
    </p>
  </div>
  <hr />
  <div>
    <h3>Unit test with child components</h3>

    <h4>Exercise</h4>
    <p>
      We have a simple counter component (if you have the app running locally,
      you can interact with it at: http://localhost:3000/counter). Your job is
      to make sure that it starts out with a count of 0 and that when the user
      clicks "Increment" it'll increase the count and when they click
      "Decrement" it'll decrease the count.
    </p>

    <h4>Link to implementation</h4>
    <p>
      <a href="/exercise-02">Exercise 02</a>
    </p>
  </div>
</div>
